<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body style="padding: 0; margin: 0;">


	<div style="width: 80%; margin: 0 auto; border: 1px solid black;">
		<div style="background-color: #EEEEEE; border: 1px solid black;">
			<div>超出有效期间,请修改密码,还没做完</div>
			<form th:action="@{/update/password}" method="post">
				<div>
					<label for="password">新密码:</label> <input type="text" id="password"
						name="password" required /> 
				</div>

				<div>
					<button type="submit">修改密码</button>
				</div>
				<p th:text="${result}"></p>
			</form>



		</div>

	</div>
</body>
</html>
